{{#d-modal-body title="lottery.create_title"}}
  <form>
    {{input value=prize placeholder=(i18n "lottery.prize_placeholder")}}
    {{input type="number" value=winnersCount placeholder=(i18n "lottery.winners_count_placeholder")}}
    {{input type="number" value=endValue placeholder=(i18n "lottery.end_value_placeholder")}}
  </form>
{{/d-modal-body}}

{{d-button
  class="btn-primary"
  action=(action "createLottery")
  label="lottery.create"
}}
