{{#d-modal-body title=(t "lottery.create_title")}}
  <form>
    {{input type="text" value=prize placeholder=(t "lottery.prize_placeholder")}}
    {{input type="number" value=winnersCount placeholder=(t "lottery.winners_count_placeholder")}}
    {{input type="number" value=endValue placeholder=(t "lottery.end_value_placeholder")}}
  </form>
{{/d-modal-body}}

{{d-button
  class="btn-primary"
  action=(action "createLottery")
  label=(t "lottery.create")
}}
