.discourse-post-lottery-preview {
  background: var(--secondary);
  align-items: center;
  flex-direction: column;
  padding: 0.5em;
  border: 1px solid var(--primary-low);
  display: flex;
  flex: 1 0 auto;

  .lottery-preview-status {
    margin: 0 0 0.5em 0;
  }

  .lottery-preview-info {
    font-weight: 700;
  }

  &.alert-error {
    border-color: var(--danger-low-mid);
  }
}
